<h1>This is your team!</h1>

<a href='/pokemon/add' class="rounded-pill">Add to team!</a>
<% pokemons.forEach(function(pokemon) { %>
  <div class="pokemon">
    <img src='<%= pokemon.imageUrl %>' class="pkImage sprite">
    <ul class="pkInfo">
      <li class="text-capitalize"><%= pokemon.name %></li> 
      <li> 
        Notes: <%= pokemon.usersPokemons.dataValues.note %>
      </li>
        
      <li>
        <!-- This is the link to edit form -->
        <a href='/pokemon/edit/<%= pokemon.id %>' class="rounded-pill">Edit</a>
      </li>
      <!-- This is the DELETE form -->
      <form method='POST' action='/pokemon/<%= pokemon.id %>/?_method=DELETE'>
         <input type='submit' value='Delete!' class="btn btn-danger">  
      </form>    
      </ul>
      
  </div>
<% }); %>


