<h2>This is your team!</h2>

<a href='/pokemon/selector' class="rounded-pill">Randomize</a>
<a href='/pokemon/add' class="rounded-pill">Add to team!</a>
<a href='/pokemon/battle' class="rounded-pill">Battle!</a>
<% pokemons.forEach(function(pokemon) { %>
  <div class="pokemon">
    <img src='<%= pokemon.imageUrl %>' class="pkImage sprite">
    <div class="pkInfo">
    <ul class="listInfo float-left">
      <li class="text-capitalize pkName"><%= pokemon.name %></li> 
      <li><b>HP:</b> <%= pokemon.dataValues.hp %> <b>Attack:</b> <%= pokemon.dataValues.attack %> <b>Defense:</b>  <%= pokemon.dataValues.defense %></li>
      <li>Notes: <%= pokemon.usersPokemons.dataValues.note %></li>
    </ul>
    <!-- This is the link to edit form -->
    <a href='/pokemon/edit/<%= pokemon.id %>' class="editButton rounded-pill float-right">Edit</a>
    <!-- This is the DELETE form -->
    <form class="form" method='POST' action='/pokemon/<%= pokemon.id %>/?_method=DELETE'>
       <input type='submit' value='Delete!' class="deleteButton btn btn-danger float-right">  
    </form>    
    
  </div>
  </div>
<% }); %>


